<div class="row">
  <div class="col-2"></div>
  <div class="col-8" align="center">
    <div class="row" align="center">
      <div class="col-10" align="center">
        <div class="row">
          <div class="col-12">
            <div class="container">
              <video
                class="content img-fluid"
                id="video"
                width="640"
                height="480"
                autoplay
                style="border: solid 3px black"
              ></video>
              <canvas
                class="overlay"
                id="canvas"
                width="640"
                height="480"
              ></canvas>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="col-12">
              <a (click)="tryGlass('3')" style="cursor: pointer">
                <img
                  class="m-3"
                  width="80"
                  id="glassess3"
                  src="../assets/glasses/sunglasses_3.png"
              /></a>
              <a (click)="tryGlass('7')" style="cursor: pointer">
                <img
                  class="m-3"
                  id="glassess7"
                  width="80"
                  src="../assets/glasses/sunglasses_7.png"
              /></a>
              <a (click)="tryGlass('5')" style="cursor: pointer">
                <img
                  class="m-3"
                  id="glassess5"
                  width="80"
                  src="../assets/glasses/sunglasses_5.png"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div class="col-2"></div>
</div>
<div class="row" align="center">
  <div class="col-12">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="chkFaceLandmarks"
        (change)="onFaceLandmarksCheckChange($event)"
      />
      <label class="form-check-label" for="chkFaceLandmarks">
        Show face landmarks
      </label>
    </div>
  </div>
</div>
<img
  style="display: none"
  id="glassess"
  src="../assets/glasses/sunglasses_3.png"
/>
<router-outlet></router-outlet>
